
// 主色
$primary: #2d8cf0;
$lightPrimary: #5cadff;
$darkPrimary: #2b85e4;

//副色
$info: #2db7f5;
$success: #19be6b;
$waring: #ff9900;
$error: #ed4014;

// 中性色

$title: #17233d;
$content: #515a6e;
$bg: #f8f8f9;
$border: #dcdee2;

$fztitle:.16rem;
$fztitlebar:.14rem;
$fzsection:.12rem;

